body {
    margin: 0;
    overflow: hidden;
}

#juego {
    position: relative;
    width: 600px;
    height: 150px;
    margin: 50px auto;
    border: 1px solid #ccc;
}

#suelo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #ddd;
}

#dino {
    position: absolute;
    bottom: 20px;
    left: 50px;
    width: 40px;
    height: 40px;
    background-image: url(https://i.im.ge/2023/12/16/EVlSPM.ad16f1e99271efc.th.png);
    background-repeat: no-repeat;
    transition: 0.2s ease-out;
}

.obstaculo {
    position: absolute;
    bottom: 20px;
    left: 600px;
    width: 20px;
    height: 40px;
    background-color: #FF0000;
    animation: moverObstaculo 2s linear infinite;
}

@keyframes moverObstaculo {
    to {
        left: -20px;
    }
}
